$blueDark:    #253053;
$blueLight:   #1358DF;
$textGray:    rgba($blueDark, .6);
$fillLight:   #F5FAFF;
$fillMedium:  rgba(#1358DF, .1);
$gray:        #D3D6DD;
$grayLight:   rgba(37, 48, 83, 0.2);
$red:         #EB4E4E;
$green:       #01CBA7;
$radius:      20px;
$duration:   .2s;
