@import "variables";
@import "tabs-imitation";

.main_logo {
    svg {
        width: 170px
    }
}

.text_slider--slide {
    white-space: nowrap;
}

.icon-swiper {
    height: 80px;
    width: 160px;

    svg {
        height: inherit;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

@media all and (min-width: 1024px) {
    .first_screen--content {
        padding-right: 12rem;
    }
}

.why {
    margin-bottom: 3rem;
}
